body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    color: violet;
    size: 40pt;
    font-size: smaller;
}
h1{
    color:aqua
}
h2{
    color: green;
}
h3{
    color: antiquewhite;
}
p{
    color:navy;
    background-color: aquamarine;
}
