body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    color: violet;
    size: 40pt;
    font-size: smaller;
}
h1{
    color:aqua
}
h2{
    color: aliceblue;
}
h3{
    color: red;
}

p{
    color: white;
    background-color: brown;
}
